body {
	color: #303030;
	}

p, td {
	color: #BBB7B7;
	}

p.quote {
	background: #fff;
	padding: 6px 8px;
	border: 1px dotted #303030;
	margin-bottom: 0px;
	}

p.credit {
	text-align: right;
	font-style: italic;
	margin-top: 0px;
	padding: 2px 8px;	
	}
	
span.upcoming {
	color: #aaa;
	}

a:link.navi, a:visited.navi {
	color: #555555;
	text-transform: uppercase;
	}
	
a:hover.navi {

	color: #ffffff;
	text-decoration: none;
	border-top: 1px dashed #ffffff;
	border-bottom: 1px dashed #ffffff;
	text-transform: uppercase;
	}
	
h3 {
	color: #303030;
	}
	
h5 {
	color: #555;
	}

a:link, a:visited {
	color: #bd5810;
	text-transform: uppercase;
	}

a:hover {
	color: #555555;
	text-decoration: none;
	}
	
b {
	color: #000;
	}

li {
	color: #303030;
	}

img.detail, img.intext {
	border: 1px solid #aaa;
	padding: 1px;
	background: #fff;
	}
	
img.detail {
	margin: 0px 6px 6px 0px;
	}
	
abbr {
	padding: 0px 1px;
	border-bottom: 1px dotted #303030;
	background: #fff;
	}