body {
	color: #303030;
	}

p, td {
	color: #808080;
	}

h3 {
	color: #303030;
	}
	
h5 {
	color: #555;
	}

a:link, a:visited {
	color: #bd5810;
	text-transform: uppercase;
	}

a:hover {
	color: #555555;
	text-decoration: none;
	}
	
b {
	color: #000;
	}

li {
	color: #303030;
	}