body {
	margin: 0;
	padding: 0;

	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	}
p, td {
	font-family: verdana, arial, sans-serif;
	font-size: 10px;
	color: #591547;
	line-height: 21px;
	}

p, div.indent {
	padding: 0px;
	margin: 0px 32px 16px 64px;
	}

p {
	line-height: 21px;
	}
	
a:link.navi, a:visited.navi, {
	font-family: georgia, "times new roman", serif;
	font-style: italic;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	}

td.pad {
	padding: 0px 12px;
	}
		
p.form {
	padding: 0px;
	margin: 0px 32px 2px 64px;
	}

b {
	color: #b81b3e;
	text-transform: uppercase;
	}
	
h3 {
	font-family: georgia, "times new roman", serif; 
	font-style: italic;
	font-size: 24px;
	text-align: left;
	color: #591547;
	padding: 0px;
	text-transform: lowercase;
	margin: 12px 48px -6px 48px;
	}
	
h5 {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: left;
	color: #e093cc;
	margin: 0px 12px 2px 48px;
	}

a:link, a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #bd5810;
	}

a:hover {
	color: #ACACAC;
	}

a.img {
	text-decoration: none;
	}

ul, ol {
	margin: 0px 32px 10px 72px;
	}

ul ul, ul ul ul {
	margin-left: 12px;
	}
	
li {
	line-height: 16px;
	}

li h4 {
	font-weight: bold;
	padding-bottom: 2px;
	}
	
li p {
	font-weight: normal;
	margin-left: 0px;
	}
	
a img {
	border: none;
	}
	
img.intext {
	margin: 0px 12px 6px 0px;
	}
		
img.link {
	margin: 2px 4px 2px 0px;
	}